{% extends 'template.html' %}
{% block content %}
<p>
    <a href="media/android_fingerprint_collector.zip">Download the Android client library here</a>
</p><p>
    The API is designed to allow easy, intuitive access from any language that can make HTTP requests (i.e., any language!)
</p><p>
    However, programming a mobile device to collect RSSI and/or magnetic field data can be difficult and prone to error.
</p><p>
    Thankfully, we have developed an Android library that you can use to ease the pain.
</p><p>
    While we don't have any other platforms yet (for example, iOS or JavaScript), we are planning to implement a similar library
    in the future.
</p><p>
    If you are interested in contributing such a library, please let us know!
</p><p>
    <a href="media/android_fingerprint_collector.zip">Download the Android client library here</a>
</p>
{% endblock %}